<style>
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
</style>
<ul class="nav flex-column mt-3">
    <li class="nav-item">
        <a asp-controller="User" asp-action="Dashboard" class="nav-link">
            <i class="bi bi-house"></i>
            <span>Trang chủ</span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="SoTietKiem" asp-action="Index" class="nav-link">
            <i class="bi bi-wallet-fill"></i>
            <span>Tài khoản tiết kiệm</span>
        </a>
    </li>
    @* <li class="nav-item">
        <a asp-controller="GiaoDich" asp-action="Index" class="nav-link">
            <i class="bi bi-cash-coin"></i>
            <span>Giao dịch</span>
        </a>
    </li> *@
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person"></i>
            <span>Thông tin cá nhân</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
            <li>
                <a class="dropdown-item" asp-controller="User" asp-action="Profile">
                    <i class="bi bi-eye"></i>
                    <span>Xem thông tin</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="User" asp-action="EditProfile">
                    <i class="bi bi-pencil"></i>
                    <span>Chỉnh sửa thông tin</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="User" asp-action="ChangePassword">
                    <i class="bi bi-key"></i>
                    <span>Đổi mật khẩu</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="User" asp-action="DeleteAccount">
                    <i class="bi bi-trash"></i>
                    <span>Xóa tài khoản</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a asp-controller="User" asp-action="QuyDinhVaDieuKhoan" class="nav-link">
            <i class="bi bi-cash-coin"></i>
            <span>Quy định và điều khoản</span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="HuongDan" asp-action="Index" class="nav-link">
            <i class="bi bi-question-circle"></i>
            <span>Hướng dẫn sử dụng hệ thống</span>
        </a>
    </li>
</ul>