@{
    ViewData["itle"] = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

    <div class="container mt-5">

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-wallet2 fa-3x text-primary mb-3"></i>
                        <h5 class="card-title">Savings Accounts</h5>
                        <p class="card-text">View and manage your savings accounts.</p>
                        <a href="/Savings/New" class="btn btn-primary">Open New Saving Account</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-person-circle fa-3x text-primary mb-3"></i>
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">View and edit your profile information.</p>
                        <a href="/User/Profile" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-gear fa-3x text-primary mb-3"></i>
                        <h5 class="card-title">Settings</h5>
                        <p class="card-text">Adjust your account settings and preferences.</p>
                        <a href="/User/Settings" class="btn btn-primary">Account Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}