@{
  ViewData["Title"] = "Giao Dịch";
}
<h1 class="text-center">Transaction</h1>
@* hiển thị danh sách giao dịch *@
<table class="table">
  <thead>
    <tr>
      <th>Mã Giao Dịch</th>
      <th>Ngày Giao Dịch</th>
      <th>Số Tiền</th>
      <th>Loại Giao Dịch</th>
      <th>Mã sổ tiết kiệm</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
